// app global css in SCSS form
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Poppins;
  src: url("./fonts/poppins-regular-webfont.woff2");
}

.f-default {
  font-family: 'Poppins';
}